<h1>Projeto da cadeira de Engenharia de Software: SI-2017.1</h1>
<h2>Equipe:</h2>
<br>
<h3>David Francisco</h3>
<a href="https://github.com/dfnb">Github</a>
<p>email: dfnb@cin.ufpe.br</p>
<br>
<h3>Arthur Justino</h3>
<a href="https://github.com/Arthur-Justino">Github</a>
<p>email: ajmms@cin.ufpe.br</p>
<br>
<h3>Thomaz Maciel</h3>
<a href="https://github.com/thomazbmaciel">Github</a>
<p>email: tbm@cin.ufpe.br</p>
<br>
    
<p>clique no link para pesquisar as escolas</p>
<%= link_to 'Home', keeper_index_path %>
