<div class="background">
    <h1 style="text-align:center;padding-top:23%;font-size:500%" >ShoolClue</h1>

<div style="width:15%;border-radius: 25%;margin-top:2%;margin-left:42.5%;">
<p style="margin-top: 30%;" class="start-button"><%= link_to 'Busque Aqui', keeper_form_path %></p>
<div>
<p style="margin-top: 10%;" class="start-button"><%= link_to 'Contatos', keeper_contato_path %></p>
</div>
</div>

</div>
