<div class="imagem-bloco">
    <h1>Shoolclue</h1>
</div>
<div style="width:15%;border-radius: 25%;margin-top:2%;margin-left:42.5%;">
<p class="start-button"><%= link_to 'Busque Aqui', keeper_location_path %></p>
</div>